<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');.body{font-family: 'Montserrat', sans-serif}.card{border:1}.logo{background-color: #eeeeeea8}.totals tr td{font-size: 13px}.footer{background-color: #eeeeeea8}.footer span{font-size: 12px}.product-qty span{font-size: 12px;color: #dedbdb}
</style>

<div class=" mt-5 mb-5 body">

        <div class="row d-flex justify-content-center">

            <div class="col-md-10">

                <div class="card" style="background-color: rgba(251, 255, 244, 0.935)">


                        {{!-- <div class="text-left logo p-2 px-5">

                            <img src="https://i.imgur.com/2zDU056.png" width="50">
                            

                        </div> --}}

                        <div class="invoice p-5">

                            <h5>Your order Confirmed!</h5>

                            <span class="font-weight-bold d-block mt-4">Hello,<b>{{trackDetails.userId.name}}</b></span>
                            <span>You order has been confirmed and will be shipped in next two days!</span>

                            <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">

                                <table class="table table-borderless">
                                    
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="py-2">

                                                    <span class="d-block text-muted">Order Date</span>
                                                <span>{{format trackDetails.createdAt}}</span>
                                                        
                                                </div>
                                            </td>

                                            <td>
                                                <div class="py-2">

                                                    <span class="d-block text-muted">Order No</span>
                                                <span>{{trackDetails._id}}</span>
                                                    
                                                </div>
                                            </td>

                                            <td>
                                                <div class="py-2">

                                                    <span class="d-block text-muted">Payment</span>
                                                    <span>{{trackDetails.paymentMethod}}</span>
                                                {{!-- <span><img src="https://img.icons8.com/color/48/000000/mastercard.png" width="20" /></span> --}}
                                                    
                                                </div>
                                            </td>

                                            <td>
                                                <div class="py-2">

                                                    <span class="d-block text-muted">Shiping Address</span>
                                                <span>{{trackDetails.deliveryAddress.house}},{{trackDetails.deliveryAddress.apartment}},{{trackDetails.deliveryAddress.landmark}},{{trackDetails.deliveryAddress.district}},{{trackDetails.deliveryAddress.state}}</span>
                                                    
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>




                                
                            </div>




                                <div class="product border-bottom table-responsive">

                                    <table class="table table-borderless">
                                        {{!-- {{#each trackDetails.products}}  --}}
                                        {{#each everything}}
                                    <tbody>
                                        <tr>
                                            <td width="20%">
                                            
                                            <img src="/images/{{this.productId.image.[0]}}" width="90">

                                        </td>
                                    
                                        <td width="60%">
                                            <span class="font-weight-bold">{{this.productId.productname}}</span>
                                            <div class="product-qty">
                                                <span class="d-block">Quantity:{{this.quantity}}</span>

                                                <span>Price:{{this.productId.price}}</span>
                                                
                                            </div>
                                        </td>
                                        <td width="20%">
                                            <div class="text-right">
                                                <span class="font-weight-bold">₹{{multiply this.productId.price this.quantity}}</span>
                                            </div>
                                        </td>
                                        </tr>


                                        {{!-- <tr>
                                            <td width="20%">
                                            
                                            <img src="https://i.imgur.com/SmBOua9.jpg" width="70">

                                        </td>
                                    
                                        <td width="60%">
                                            <span class="font-weight-bold">Men's Collar T-shirt</span>
                                            <div class="product-qty">
                                                <span class="d-block">Quantity:1</span>
                                                <span>Color:Orange</span>
                                                
                                            </div>
                                        </td>
                                        <td width="20%">
                                            <div class="text-right">
                                                <span class="font-weight-bold">$77.50</span>
                                            </div>
                                        </td>
                                        </tr> --}}
                                    </tbody> 
                                    {{/each}}
                                    {{!-- {{/each}} --}}
                                        
                                    </table>
                                    


                                </div>



                                <div class="row d-flex justify-content-end">

                                    <div class="col-md-5">

                                        <table class="table table-borderless">

                                            <tbody class="totals">

                                                <tr>
                                                    <td>
                                                        <div class="text-left">

                                                            <span class="text-muted">Subtotal</span>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="text-right">
                                                            <span>₹{{trackDetails.totalAmount}}</span>
                                                        </div>
                                                    </td>
                                                </tr>


                                                 <tr>
                                                    <td>
                                                        <div class="text-left">

                                                            <span class="text-muted">Shipping Fee</span>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="text-right">
                                                            <span>₹0</span>
                                                        </div>
                                                    </td>
                                                </tr>


                                                 <tr>
                                                    <td>
                                                        <div class="text-left">

                                                            <span class="text-muted">Tax Fee</span>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="text-right">
                                                            <span>₹0</span>
                                                        </div>
                                                    </td>
                                                </tr>


                                                 <tr>
                                                    <td>
                                                        <div class="text-left">

                                                            <span class="text-muted">Discount</span>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="text-right">
                                                            {{#if coupons}}
                                                        <span class="text-success">₹{{dec trackDetails.grandTotal trackDetails.totalAmount}}</span>
                                                        {{else}}
                                                        <span class="text-success">₹0</span>
                                                        {{/if}}
                                                        </div>
                                                    </td>
                                                </tr>


                                                 <tr class="border-top border-bottom">
                                                    <td>
                                                        <div class="text-left">

                                                            <span class="font-weight-bold">Grand Total</span>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="text-right">
                                                            {{#if coupons}}
                                                            <span class="font-weight-bold">₹{{trackDetails.grandTotal}}</span>
                                                            {{else}}
                                                            <span class="font-weight-bold">₹{{trackDetails.totalAmount}}</span>
                                                            {{/if}}

                                                        </div>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                            
                                        </table>
                                        
                                    </div>
                                    


                                </div>


                                {{!-- <p>We will be sending shipping confirmation email when the item shipped successfully!</p> --}}
                                <p class="font-weight-bold mb-0 mt-5">Thanks for shopping with us!</p>
                                <span><b>TrendSetter</b></span>



                            

                        </div>


                        {{!-- <div class="d-flex justify-content-between footer p-3">

                            <span>Need Help? visit our <a href="#"> help center</a></span>
                             <span>12 June, 2020</span>
                            
                        </div> --}}



            
        </div>
                
            </div>
            
        </div>
        
    </div>