<style>
    body {
            min-height: 100vh;
            background-size: cover;
            font-family: 'Lato', sans-serif;
            color: rgba(116, 116, 116, 0.667);
          
             font-size: medium;

        }
        .container-fluid {
            margin-top: 200px ;
        }

        p {
            font-size: 14px;
            margin-bottom: 7px;

        }

        .small {
            letter-spacing: 0.5px !important;
        }

        .card-1 {
            box-shadow: 2px 2px 10px 0px rgb(190, 108, 170);
        }

        hr {
            background-color: rgba(248, 248, 248, 0.667);
        }


        .bold {
            font-weight: 500;
        }

        .change-color {
            color: #AB47BC !important;
        }

        .card-2 {
            box-shadow: 1px 1px 3px 0px rgb(112, 115, 139);

        }

        .fa-circle.active {
            font-size: 8px;
            color: #AB47BC;
        }

        .fa-circle {
            font-size: 8px;
            color: #aaa;
        }

        .rounded {
            border-radius: 2.25rem !important;
        }


        .progress-bar {
            background-color: #AB47BC !important;
        }


        .progress {
            height: 5px !important;
            margin-bottom: 0;
        }

        .invoice {
            position: relative;
            top: -70px;
        }

        .Glasses {
            position: relative;
            top: -12px !important;
        }

        .card-footer {
            background-color: #AB47BC;
            color: #fff;
        }

        h2 {
            color: rgb(78, 0, 92);
            letter-spacing: 2px !important;
        }

        .display-3 {
            font-weight: 500 !important;
        }

        @media (max-width: 479px) {
            .invoice {
                position: relative;
                top: 7px;
            }

            .border-line {
                border-right: 0px solid rgb(226, 206, 226) !important;
            }

        }

        @media (max-width: 700px) {

            h2 {
                color: rgb(78, 0, 92);
                font-size: 17px;
            }

            .display-3 {
                font-size: 28px;
                font-weight: 500 !important;
            }
        }

        .card-footer small {
            letter-spacing: 7px !important;
            font-size: 12px;
        }

        .border-line {
            border-right: 1px solid rgb(226, 206, 226)
        }
</style>






<div class="container-fluid my-5  d-flex  justify-content-center ">
    <div class="rqw mt-5 " style="width: 80vw;">
        <div class="card card-1 " style="border: 2px solid;">
            <div class="card-header ">
                <div class="media flex-sm-row flex-column-reverse justify-content-between  ">
                    <div class="col my-auto"> <h4 class="mb-0 pb-4">Thanks for your Order,<span class="change-color">{{trackDetails.userId.name}}</span> !</h4> </div>
                    {{!-- <div class="col-auto text-center  my-auto pl-0 pt-sm-4"> <img class="img-fluid my-auto align-items-center mb-0 pt-3"  src="https://i.imgur.com/7q7gIzR.png" width="115" height="115"> <p class="mb-4 pt-0 Glasses">Glasses For Everyone</p>  </div> --}}
                </div>
            </div>
            <div class="card-body ">
                
                <div class="row justify-content-between mb-3">
                    <div class="col-auto"> <h6 class="color-1 mb-0 change-color"><button onclick="downloadInvoice()" class="btn btn-link">Receipt</button></h6> </div>
                    <div class="col-auto  "> <small>Receipt Voucher : {{trackDetails._id}}</small> </div>
                </div>
   {{#with trackDetails}} 
   {{#each products}}
                <div class="row">
                    <div class="col">
                        <div class="card card-2 mt-2">
                            <div class="card-body" style="border: 2px solid rgb(171, 129, 129);">
                                <div class="media">
                                    <div class="sq align-self-center "> <img class="img-fluid  my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" src="/images/{{this.productId.image.[0]}}" alt="" width="120em" width="135" height="135" /> </div>
                                    <div class="media-body my-auto text-right">
                                        <div class="row  my-auto flex-column flex-md-row">
                                            <div class="col my-auto"> <h6 class="mb-0" id="productname"><b>{{this.productId.productname}}</b> </h6>  </div>
                                            {{!-- <div class="col-auto my-auto"> <small>Golden Rim </small></div> --}}
                                            {{!-- <div class="col my-auto"> <small>Size : M</small></div> --}}
                                            <div class="col my-auto"> <small>Qty : {{this.quantity}}</small></div>
                                            <div class="col my-auto"><h6 class="mb-0">₹ {{subTotal this.productId.price this.quantity}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-3 ">
                                <div class="row">
                                    <div class="col-md-3 mb-3"> <h5><b>Track Order </b> <span><i class=" ml-2 fa fa-refresh"  aria-hidden="true"></i></span></h5> </div>
                                    <div class="col mt-auto">

                                        {{#if (eq ../this.productStatus "Pending")}}
                                        <div class="progress my-auto"> <div class="progress-bar progress-bar  rounded" style="width: 7%" role="progressbar" aria-valuenow="25" aria-valuemin="0"  aria-valuemax="100"></div> </div>
                                        {{/if}}
                                        {{#if (eq ../this.productStatus "shipped")}}
                                         <div class="progress my-auto"> <div class="progress-bar progress-bar  rounded" style="width: 50%" role="progressbar" aria-valuenow="25" aria-valuemin="0"  aria-valuemax="100"></div> </div>
                                        {{/if}}
                                        {{#if (eq ../this.productStatus "delivered")}}
                                        <div class="progress my-auto"> <div class="progress-bar progress-bar  rounded" style="width: 100%" role="progressbar" aria-valuenow="25" aria-valuemin="0"  aria-valuemax="100"></div> </div>
                                        {{/if}}
{{#if (eq ../this.productStatus "Cancelled")}}
<div class="progress my-auto"> <div class="progress-bar progress-bar  rounded" style="width: 0%" role="progressbar" aria-valuenow="25" aria-valuemin="0"  aria-valuemax="100"></div> </div>
<div><b> Order Cancelled</b></div>
  {{/if}}                                      
                                        <div class="media row justify-content-between ">
                                            <div class="col-auto col-md-4 text-right"><span> <small  class="text-right mr-sm-2" style="font-size: smaller;">Orderd</small><i class="fa fa-circle active"></i> </span></div>
                                            <div class="flex-col col-md-4"> <span> <small class="text-right mr-sm-2">Shipped</small><i class="fa fa-circle active"></i></span></div>
                                            <div class="col-auto col-md-4 flex-col-auto"><small  class="text-right mr-sm-2">Delivered</small><span> <i  class="fa fa-circle active"></i></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{/with}}
                
                <div class="row mt-4 d-flex flex-column">
                   
                    {{!-- <div class="d-flex justify-content-end mr-4"><button class="btn btn-primary">Cancel Order</button></div> --}}
                    
                    <div class="col-auto" style="width:fit-content ;height: fit-content;"><h4 class="text-dark"><b>Order Details</b></h4></div>
                    <div class="col d-flex flex-column justify-content-center " style="width: fit-content;">
                         


                           <div class="row justify-content-between">
                            
                            <div class="flex-sm-col text-right col-auto"><p class="mb-1"> <b>SubTotal : </b></p> </div>
                    
                            <div class="flex-sm-col col-auto"><p class="mb-1">₹ {{trackDetails.totalAmount}}</p></div>
                         
                            
                        </div>

                         
                         <div class="row justify-content-between">
                            
                            <div class="flex-sm-col text-right col-auto"><p class="mb-1"> <b>Discount : </b></p> </div>
                             {{#if session.coupen}}
                    
                            <div class="flex-sm-col col-auto"><p class="mb-1">{{trackDetails.coupenDiscount}}%</p></div>
                         {{else}}
                         <div class="flex-sm-col col-auto"><p class="mb-1">0%</p></div>
                         {{/if}}
                        </div>
                         
                         <div class="row justify-content-between">
                           
                            <div class="flex-sm-col text-right col-auto"> <p class="mb-1"><b>Total : </b></p> </div>

                           
                           {{#if session.coupen}}
                           
                            <div class="flex-sm-col col-auto"> <p class="mb-1">₹ {{trackDetails.grandTotal}}</p></div>
                            {{else}}
                            <div class="flex-sm-col col-auto"> <p class="mb-1">₹  {{trackDetails.totalAmount}} </p></div>
                            {{/if}}
                        </div>
                        

                    </div>

                <div class="row container invoice mt-5 d-flex flex-column">
                   <div class="col-auto  mt-5" style="width:fit-content ;height: fit-content;"><h4 class="text-dark"><b>Address</b></h4></div>
                    <div class="col  ">
                       <div> <p class="mb-1"> Name : {{trackDetails.deliveryAddress.name}}</p></div>
                    <div> <p class="mb-1">Address : {{trackDetails.deliveryAddress.house}}</p></div>
                   <div>  <p class="mb-1">District : {{trackDetails.deliveryAddress.district}}</p></div>
                   <div>  <p class="mb-1">Locality : {{trackDetails.deliveryAddress.apartment}}</p></div>
                   <div>  <p class="mb-1">Landmark : {{trackDetails.deliveryAddress.landmark}}</p></div>
                   <div>  <p class="mb-1">Pincode : {{trackDetails.deliveryAddress.pin}}</p></div>
                   <div>  <p class="mb-1">Ph : {{trackDetails.deliveryAddress.mobile}}</p></div>
                    </div>
                </div>

            </div>

            </div>
            </div>
        </div>



{{#with trackDetails}} 
   {{#each Orderitems}}
<input type="checkbox" hidden checked id="product_name" name="product_name" value="{{this.product.productname}}">

 {{/each}}
{{/with}}

<script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>
<script>
  var array = []
var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')

for (var i = 0; i < checkboxes.length; i++) {
  array.push(checkboxes[i].value)
}
console.log(array)
function downloadInvoice(){







var data = {
    // Customize enables you to provide your own templates
    // Please review the documentation for instructions and examples
    "customize": {
        //  "template": fs.readFileSync('template.html', 'base64') // Must be base64 encoded html 
    },
    "images": {
        // The logo on top of your invoice
        "logo": "https://public.easyinvoice.cloud/img/logo_en_original.png",
        // The invoice background
        //"background": "https://public.easyinvoice.cloud/img/watermark-draft.jpg"
    },
    // Your own data
    "sender": {
        "company": "TrendSetter",
        "address": "Calicut",
        "zip": "673003",
        "city": "Kozhikode",
        "country": "India"
        //"custom1": "custom value 1",
        //"custom2": "custom value 2",
        //"custom3": "custom value 3"
    },
    // Your recipient
    "client": {
        "company": "{{trackDetails.userId.name}}",
        "address": "{{trackDetails.deliveryAddress.house}}",
        "zip": "{{trackDetails.deliveryAddress.pin}}",
        "city": "{{trackDetails.deliveryAddress.apartment}}",
        "country": "{{trackDetails.deliveryAddress.district}}"
        // "custom1": "custom value 1",
        // "custom2": "custom value 2",
        // "custom3": "custom value 3"
    },
    "information": {
        // Invoice number
        "number": "{{trackDetails._id}}",
        // Invoice data
        "date": "{{format trackDetails.createdAt}}"
        // Invoice due date
        //"due-date": "31-12-2021"
    },
    // The products you would like to see on your invoice
    // Total values are being calculated automatically
    "products": [
        {
             
            "quantity": 2,
            "description": document.getElementById('productname').innerHTML,
            "tax-rate": 6,
            "price": 33.87
        },
        {
            "quantity": 4.1,
            "description": "Product 2",
            "tax-rate": 6,
            "price": 12.34
        },
        {
            "quantity": 4.5678,
            "description": "Product 3",
            "tax-rate": 21,
            "price": 6324.453456
        }
    ],
    // The message you would like to display on the bottom of your invoice
    "bottom-notice": "Kindly pay your invoice within 15 days.",
    // Settings to customize your invoice
    "settings": {
        "currency": "USD", // See documentation 'Locales and Currency' for more info. Leave empty for no currency.
        // "locale": "nl-NL", // Defaults to en-US, used for number formatting (See documentation 'Locales and Currency')
        // "tax-notation": "gst", // Defaults to 'vat'
        // "margin-top": 25, // Defaults to '25'
        // "margin-right": 25, // Defaults to '25'
        // "margin-left": 25, // Defaults to '25'
        // "margin-bottom": 25, // Defaults to '25'
        // "format": "A4", // Defaults to A4, options: A3, A4, A5, Legal, Letter, Tabloid
        // "height": "1000px", // allowed units: mm, cm, in, px
        // "width": "500px", // allowed units: mm, cm, in, px
        // "orientation": "landscape", // portrait or landscape, defaults to portrait
    },
    // Translate your invoice to your preferred language
    "translate": {
        // "invoice": "FACTUUR",  // Default to 'INVOICE'
        // "number": "Nummer", // Defaults to 'Number'
        // "date": "Datum", // Default to 'Date'
        // "due-date": "Verloopdatum", // Defaults to 'Due Date'
        // "subtotal": "Subtotaal", // Defaults to 'Subtotal'
        // "products": "Producten", // Defaults to 'Products'
        // "quantity": "Aantal", // Default to 'Quantity'
        // "price": "Prijs", // Defaults to 'Price'
        // "product-total": "Totaal", // Defaults to 'Total'
        // "total": "Totaal" // Defaults to 'Total'
    },
};

//Create your invoice! Easy!
easyinvoice.createInvoice(data, function (result) {
    //The response will contain a base64 encoded PDF file
   
    easyinvoice.download("invoice.pdf")
});

}
</script>